{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"importOrder": [
		"flowbite-svelte",
		"^svelte/(.*)$",
		"UI$",
		"fs",
		"^\\$data/(.*)$",
		"^\\$lib/parsers/(.*)$",
		"^\\$lib/utils$",
		"^\\$lib/(.*)$",
		"/types$",
		"^[./]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"tailwindStylesheet": "./src/app.css"
}
